**/__pycache__/
*.egg-info

work-dir/
outputs/
old_files/
pretrained/
pretrained_models/
work-dir/
wandb/
data/spacenet7
GFMdistill_env

pretrained_models

data/*
!data/mados
data/mados/*
!data/mados/splits
data/mados/splits/*
!data/mados/splits/tiny_X.txt
/bash_experiments/job_output

.vscode
.idea

checkpoints/
scratch3/

logs
output